
 body {
 background-color: #32313b;
 }

 h2  {
 color: white;
 }

 h1 {
  color: white;
  }

 table {
 table-layout: fixed;
 }

 .name {
 width: 15%;
 }

 .startDate {
 width: 15%;
 }

 .endDate {
 width: 15%;
 }

 .description {
 width: 35%;
 }

 .editBtn {
 float: right;
 margin-right: -41px;
 }

 .delBtn {
 float: right;
 margin-right: 16px;
 }

 .exitBtn {
 margin-left: 2px;
 margin-bottom: 5px;
 }

 .newBtn {
 margin-bottom: 5px;
 }