 body {
 background-color: #32313b;
 }

 h1  {
 color: white;
 }

 h2  {
 color: white;
 }

 .control-label {
 color: white;
 }

 #login-form {
 width: 40%;
 padding: 100px 0;
 margin: 0 auto;

 }

 .error {
 color: red;
 }

 .message {
  /*color: DeepSkyBlue; */
  color: DarkTurquoise;
  }