
 body {
 background-color: #32313b;
 }

 h2  {
 color: white;
 }

 h1  {
  color: white;
  }

.csvBtn {
float: right;
margin-right: 23px;
}

.nav-pills>li{
color : black;
}



/*
  <ul class="nav nav-pills">
                <li class="nav-item"
                    th:each="i : ${#numbers.sequence(0, contractList.totalPages-1)}">
                    <a th:href="@{/main(page=${i})}" th:text="${i}" class="nav-link"
                       th:classappend="${currentPage}==${i}?'active':''"></a>

                </li>
            </ul>
            */