<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Register of contract</title>

    <script type="text/javascript"
            src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/contracts.css" th:href="@{/css/contracts.css}">
</head>

<body>
<div class="container"> </br>
    <p>
    <h1>Register of contracts</h1></p>
    <hr COLOR="LightGray" SIZE="1" WIDTH="100%" ALIGN="LEFT">

    <div>
        <a style="color:white" th:href="@{/all-contracts}"><big><b>All contracts</b></big></a>
        &nbsp
        <span style="color:white">/</span>
        &nbsp
        <a style="color:white" th:href="@{/active-contracts}"><big><b>Active contract</b></big></a>
        &nbsp
        <span style="color:white">/</span>
        &nbsp
        <a style="color:white" th:href="@{/descriptions}"><big><b>Systems description</b></big></a>
    </div>
    </br> </br> </br>

    <div>
        <form th:action="@{/logout}" method="post">
            <button class="btn btn-success btn-lg newBtn">Add contract</button>
            <button type="submit" class="btn btn-info btn-lg exitBtn">Exit program</button>
        </form>
    </div>

    <div class="card">
        <div class="card-block">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="number">Contract Number</th>
                    <th class="name">System Name</th>
                    <th class="startDate">Start Date</th>
                    <th class="endDate">End Date</th>
                    <th class="income">Contract Value</th>
                    <th class="daysLeft">Days Left</th>
                    <th class="isActive">Active</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="contract : ${contractsList}">
                    <td th:utext="${#strings.escapeXml(contract.number)}">number</td>
                    <td th:utext="${#strings.escapeXml(contract.name)}">name</td>
                    <td th:utext="${#strings.escapeXml(contract.startDate)}">startDate</td>
                    <td th:utext="${#strings.escapeXml(contract.endDate)}">endDate</td>
                    <td th:utext="${#strings.escapeXml(#numbers.formatDecimal (contract.income, 1, 2) + ' zł')}">
                        income
                    </td>
                    <td class="daysLeftContent" th:utext="${#strings.escapeXml(contract.daysLeft)}">days left</td>
                    <td class="activeContent" th:utext="${#strings.escapeXml(contract.active ? 'Yes' : 'No')}">active
                    </td>
                    <td><a th:href="@{getOneContract/(id=${contract.id})}" class="btn btn-primary editBtn">Edit</a>
                    <td>
                    <td><a th:href="@{delete/(id=${contract.id})}" class="btn btn-danger delBtn">Delete</a></td>
                </tr>
                </tbody>
            </table>

            <ul class="nav nav-pills">
                <li class="nav-item"
                    th:each="i : ${#numbers.sequence(0, contractsList.totalPages -1)}">
                    <a th:href="@{/active-contracts(page=${i})}" th:text="${i+1}" class="nav-link"
                       th:classappend="${currentPage}==${i}?'active':''"></a>
                </li>
            </ul>
        </div>
    </div>
    <!-----------------EDIT----------------->
    <div class="editForm">
        <form th:action="@{/saveContract}" method="post">

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Create or Update</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="id" name="id" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="number" class="col-form-label">Contract Number</label>
                                <input type="text" minlength="1" maxlength="50" class="form-control" id="number"
                                       name="number" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-form-label">System Name</label>
                                <input type="text" minlength="1" maxlength="50" class="form-control" id="name"
                                       name="name" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="startDate" class="col-form-label">Start Date</label>
                                <input type="date" datatype="" class="form-control" id="startDate"
                                       name="startDate" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="endDate" class="col-form-label">End Date</label>
                                <input type="date" class="form-control" id="endDate" name="endDate" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="income" class="col-form-label">Contract Value</label>
                                <input type="number" min="0.00" max="99000000.99" step="0.01" class="form-control"
                                       id="income" name="income" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="description" name="description" value=""/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="save"/>
                        </div>
                    </div>
                </div>

            </div>
        </form>

    </div>
    <!----------------DELETE----------------->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Deleting a record!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger">
                        Are you sure?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="" class="btn btn-danger" id="delRef">Delete</a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>