<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Register of contract</title>

    <script type="text/javascript"
            src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/descriptions.css" th:href="@{/css/descriptions.css}">

</head>

<body>

<div class="container"> </br>

    <p>
    <h1>Register of contracts</h1>
    </p>

    <hr COLOR="LightGray" SIZE="1" WIDTH="100%" ALIGN="LEFT">

    <p>
        <a href="/" th:href="@{/all-contracts}"><big>All contracts</big></a>
        &nbsp
        &nbsp
        <a href="/" th:href="@{/active-contracts}"><big>Active contracts</big></a>
        &nbsp
        &nbsp
        <a href="/" th:href="@{/descriptions}"><big>Systems description</big></a>
    </p> </br> </br>


    <div class="card">
        <div class="card-block">

            <table class="table table-hover">
                <thead>
                <tr>

                    <th class="name">Name of system</th>
                    <th class="startDate">Start date</th>
                    <th class="endDate">End date</th>
                    <th class="description">Description</th>

                </tr>
                </thead>

                <tbody>

                <tr th:each="contract : ${contractsList}">

                    <td th:utext="${#strings.escapeXml(contract.name)}">name</td>
                    <td th:utext="${#strings.escapeXml(contract.startDate)}" >startDate</td>
                    <td th:utext="${#strings.escapeXml(contract.endDate)}" >endDate</td>
                    <td th:utext=${#strings.escapeXml(contract.description)} >description</td>
                    <td><a th:href="@{getOneContract/(id=${contract.id})}" class="btn btn-primary editBtn">Edit</a><td>
                    <td><a th:href="@{delete/(id=${contract.id})}" class="btn btn-danger delBtn">Delete</a></td>

                </tr>

                </tbody>
            </table>

            <ul class="nav nav-pills">
                <li class="nav-item"
                    th:each="i : ${#numbers.sequence(0, contractsList.totalPages -1)}">
                    <a th:href="@{/descriptions(page=${i})}" th:text="${i}" class="nav-link"
                       th:classappend="${currentPage}==${i}?'active':''"></a>

                </li>
            </ul>


        </div>
    </div>

    <!---------FORMULARZ BOOTSTRAPA DLA BUTTONA EDIT--------->

    <div class="editForm">
        <form th:action="@{/saveDescription}" method="post">

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <input type="hidden" class="form-control" id="id" name="id" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="number" name="number" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="name" name="name" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="startDate" name="startDate" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="endDate" name="endDate" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="impact" name="impact" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="daysLeft" name="daysLeft" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="active" name="active" value=""/>
                            </div>

                            <div class="form-group">
                                <label for="description" class="col-form-label">Description:</label>
                                <textarea class="form-control" id="description" name="description" rows="12"></textarea>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="save"/>
                            </div>
                        </div>
                    </div>

                </div>
        </form>

    </div>

    <!---------FORMULARZ BOOTSTRAPA DLA BUTTONA DELETE--------->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Deleting a record!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <p class="alert alert-danger">
                        Are you sure?
                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="" class="btn btn-danger" id="delRef">Delete</a>
                </div>
            </div>
        </div>
    </div>

</div>


</body>

</html>