<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Register of contract</title>

    <script type="text/javascript"
            src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/errors.css" th:href="@{/css/errors.css}">

</head>
<body>

<div class="container">

    <h1>Oops... error</h1>
    <hr COLOR="LightGray" SIZE="1" WIDTH="100%" ALIGN="LEFT">
    </br>

    <form class="form-horizontal" th:object="${contract}" th:action="@{/saveContract}" th:method="post">

        <div class="form-group">
            <input type="hidden" class="form-control" th:field="*{id}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Number:</label>
            <input type="text" class="form-control" th:field="*{number}"/>
            <p class="error" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">error</p>
        </div>

        <div class="form-group">
            <label class="control-label">Name:</label>
            <input type="text" class="form-control" th:field="*{name}"/>
            <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error</p>
        </div>

        <div class="form-group">
            <label class="control-label">Start Date:</label>
            <input type="date" class="form-control" th:field="*{startDate}"/>
            <p class="error" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">error</p>
        </div>

        <div class="form-group">
            <label class="control-label">End date:</label>
            <input type="date" class="form-control" th:field="*{endDate}"/>
            <p class="error" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">error</p>
        </div>

        <div class="form-group">
            <label class="control-label">Impact:</label>
            <input type="number" min="0.00" max="99000000.99" step="0.01" class="form-control" th:field="*{impact}"/>
            <p class="error" th:if="${#fields.hasErrors('impact')}" th:errors="*{impact}">error</p>
        </div>

        <div class="row">

            &nbsp
            <input type="submit" class="btn btn-primary saveBtn" value="save"/>
            &nbsp
            &nbsp
            <a th:href="@{/all-contracts}" class="btn btn-info" role="button">leave without saving</a>

        </div>

    </form>

</div>


</body>
</html>